<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>WhoWhatWhere</title>
  <!-- for grunt watch livereload -->
  <script src="//localhost:35729/livereload.js"></script>
  <link href="bundle.css" rel="stylesheet">
</head>

<body ng-controller="AppController">
  <div id="map-container">
    <div id="header-bar">
      <span id="title">who<span>what</span>where</span>
      <form ng-submit="search(location, term)" id="search-bar">
        <input id="location" ng-model="location" class="form-control" placeholder="Location">
        <input id="term" ng-model="term" class="form-control" placeholder="Search Term">
        <button id="search" class="btn btn-primary">Search</button>
      </form>
    </div>
    <div id="side-panel" ng-show="results.length || searching">
      <span ng-show="searching" us-spinner></span>
      <div ng-show="!searching && results.length" ng-repeat="result in results" class="result">
        <figure class="pull-left thumbnail">
          <img ng-src="{{ result.photo || 'http://placehold.it/100x100' }}">
        </figure>
        <div class="name">{{ result.name }}</div>
        <raty ng-if="result.rating" score="{{ result.rating }}" number="5"></raty>
        <div ng-if="!result.rating">Rating not available</div>
        <div><span ng-repeat="category in categories track by $index">{{category}}</span></div>
        <div>Address: {{ result.address.address1 ? result.address.address1 + ', ' : '' }}{{ result.address.city }} {{ result.address.zip }}</div>
        <div>Phone: {{ result.phone | phone }}</div>
      </div>
    </div>
    <div id="map-canvas" map-directive refresh="refreshMap" add-markers="addMarkers"></div>
  </div>

  <!-- Angular Templates -->
  <!-- build:section templates --><!-- /build -->
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH0hKJ8FMeHu8Bp0CZF3W2YAmYRJH1JE4"></script>
  <script src="bundle.js"></script>
</body>
</html>
