html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0
}

#title {
  position: absolute;
  top: 10px;
  left: 0px; right: 0px; margin: auto;
  z-index: 99;
  font-size: 40px;
  text-align: center;

}

#map-container {
  height: 100%;
  position: relative;
}

#map-canvas {
  height: 100%;
}

#bloodhound {
/*  position: absolute;
  top: 10px; left: 10px;
  z-index: 99;*/
}
